<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <form class="form-inline ml-2 my-lg-0">
    <input class="form-control ml-sm-2" type="search" placeholder="بحث" aria-label="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">بحث</button>
  </form>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
    

      <li class="nav-item">
        <a class="nav-link disabled"[routerLink]="['#']"   [routerLinkActive]="['active']"> اتصل بنا </a>
      </li>

      <li class="nav-item">
        <a class="nav-link"  [routerLink]="['#']"   [routerLinkActive]="['active']">الخدمات الإلكترونية</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['#']"   [routerLinkActive]="['active']">عن وثق</a>
      </li>

      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['#']"   [routerLinkActive]="['active']"> الصفحة الرئيسية <span class="sr-only">(current)</span></a>
      </li>
    </ul>
    <a class="navbar-brand" [routerLink]="['#']"   [routerLinkActive]="['active']">وثق</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
  </div>
</nav>