

<h1 class="text-center mt-5"> </h1>
<div class="container pt-3">
  <div class="row justify-content-sm-center">
    <div class="col-sm-10 col-md-6">
      <div class="card border-info">
        <div class="card-header  text-center">  تسجيل دخول    </div>
        <div class="card-body ">
          <div class="row">
            <!-- <div class="col-md-8"> -->
            <div class="col-md-12  text-center  float-center">
              <form class="form-signin  ">
                <input type="text" class="form-control mb-2" placeholder="رقم الهوية" required autofocus>
                <input type="password" class="form-control mb-2" placeholder="كلمه السر " required>
                <button class="btn btn-lg btn-primary btn-block mb-1" type="submit"> تسجيل</button>
                <label class="checkbox float-left">
              <input type="checkbox" value="remember-me">
            تذكرني 
            </label>
                <a href="#" class="float-right">نسيت كلمة المرور </a>
                 <br>
                <a href="#" class="float-right">انشاء حساب جديد </a>
              </form>
            </div>
          </div>
        </div>
      </div>
   
    </div>
  </div>
</div>