<!-- Default form contact -->

<div class="container">
<form class="text-center border border-light p-5  l-sm"     action="#!">
   
   <strong><p class="h4 mb-4">اتصل بنا </p></strong> 
   <div class="form-group">
    <!-- Name -->
    <div class="col-xs-2">
    <input type="text" id="defaultContactFormName" class="form-control   text-right mb-4  " placeholder="اسم المستخدم">

    <!-- Email -->
    <input type="email" id="defaultContactFormEmail" class="form-control text-right  mb-4" placeholder="البريد الاكتروني ">

    <!-- Subject -->
    <label>عنوان الرسالة</label>
    <select class="browser-default custom-select  text-right mb-4">
        <option value="" disabled>اختر</option>
        <option value="1" selected>Feedback</option>
        <option value="2">شكوى</option>
        <option value="3">بلاغ فني</option>
        <option value="4">استفسار</option>
        <option value="4">اقتراح</option>

    </select>

    <!-- Message -->
    <div class="form-group   text-center">
        <textarea class="form-control rounded-0   text-right"  id="exampleFormControlTextarea2" rows="3" placeholder="الرسالة"></textarea>
    </div>

  
    <!-- Send button -->
    <button class="btn btn-info btn-block l-sm" type="submit">ارسال</button>
</div>
</div>
</form>
</div>
<!-- Default form contact -->