


<br>
<br>

<br>

<br>

<br>
<br>



<div class="container">
   
    <div class="row mb-5">
        <div class="col-md-4">
            <div class="card">
                <img src="../../assets/individualss.jpg" class="card-img-top" alt="...">
           
                <div class="card-body">
                 
                    <h5 class="card-title">الافراد</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <!-- <a href="#" class="btn btn-sm btn-primary">Go somewhere</a> -->
                    <button class="btn"  (click)="btnClick()">Go somewhere</button>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../../assets/businesss.png" class="card-img-top" alt="...">
          
                <div class="card-body">
                    <h5 class="card-title">جهات العمل</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
            
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <img src="../../assets/education.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">جهات التعليم </h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-sm btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>

</div>

<!-- 
 <a class="btn btn-default btn-lg active"  (click)="btnClick()"  role="button" aria-pressed="true">تسجيل جديد  </a> 
&nbsp; &nbsp; &nbsp;
<a class="btn btn-default btn-lg active" role="button" aria-pressed="true">تسجيل دخول </a>
 -->